.corner-container {
  position: fixed;
  bottom: 20px;
  right: 0vw;
  bottom: 0vh;
  z-index: 100;
}

/* 덮개 박스: 초기에는 오른쪽 하단 밖에 있음 */
.cover-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  top: 90%;
  left: 93%;
  transition: top 1s ease, left 1s ease, opacity 1s ease;
  z-index: 99;
  pointer-events: none;
  background:rgb(211, 211, 211, 1);
}

/* 클릭 시 위로 이동 + 불투명해짐 */
.corner-container.clicked .cover-box {
  top: 10%;
  left: 0;
  opacity: 1;
  pointer-events: auto;
}

/* 삼각형 모양 버튼 */
.corner-button {
  width: 7vw;
  height: 10vh;
  padding-bottom: 2vh;
  background-color: #2a8f43;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  clip-path: polygon(88% 9%, 102% 0, 89% 33%, 74% 56%, 50% 78%, 25% 93%, 0 100%,10% 65%, 15% 7%, 16% 10%, 41% 13%, 67% 14%);
  transition: transform 0.7s linear, opacity 1.5s linear;
  z-index: 100;
  position: relative;
}

/* 클릭 시 버튼도 위로 날아감 */
.corner-container.clicked .corner-button {
  transform: translate(-100vw, -85vh);
  opacity: 0;
}

.cover-box::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  width: 141%;
  height: 1px;
  background-color: black;
  transform: rotate(-65deg);
  transform-origin: top left;

  opacity: 1;
  transition: opacity 0.5s ease 1s; /* 1초 후에 0.5초 동안 사라짐 */
}
.corner-container.clicked .cover-box::before {
  opacity: 0;
}