/* 상단 바 전체  */
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: black;
}

/* 상단 바 메뉴 */
.nav-bar a {
  background: lightgray;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}
