.home-wrapper {
  background: url('../../public/images/start_bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper h1 {
  font-size: 4rem;
}